services:
  findmyservice:
    build:
      context: .
      dockerfile: Dockerfile
      platforms:
        - linux/amd64
    image: findmyservice-api-server:latest
    container_name: api-server
    ports:
      - "8080:8080"
    env_file:
      - .env
    environment:
      - SPRING_PROFILES_ACTIVE=prod
      - JAVA_OPTS=-Xms256m -Xmx512m
    restart: unless-stopped
    networks:
      - findmyservice-network
    healthcheck:
      test: ["CMD", "wget", "--no-verbose", "--tries=1", "--spider", "http://localhost:8080/actuator/health"]
      interval: 30s
      timeout: 3s
      retries: 3
      start_period: 40s

networks:
  findmyservice-network:
    driver: bridge
